<header th:replace="headerindex.html"></header>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-4">
            <h2>How to use find Issues</h2>
            <ol>
                <li>Use the filter tool on the left side of the screen to query. </li>
                <li>Click the page change button on the right side of the screen to change the page </li>
                <li>Click on the issue you are interested in to enter the details page</li>
                <li>The left side of the detail page is the author’s detailed information, click to link to the author’s Github homepage</li>
                <li>On the upper centre side of the screen is the detailed information of Issue</li>
                <li>The lower part of the screen is the recommended Issue information,Click to link to the Issue details page</li>
                <li>On the left side of the screen is the recommended StackOVerflow information,Click to link to Stackoverflow page</li>
                <li>You can also record the browsing history after logging in</li>
                <li>After logging in, you can add a like button and comment on the function</li>
            </ol>
<!--            <p><a class="btn btn-default" href="/myissues?q=&language=&sort=&page=&order=" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-4">
            <h2>How to use find Repositories</h2>
            <ol>
                <li>Use the filter tool on the left side of the screen to query. </li>
                <li>Click the page change button on the right side of the screen to change the page </li>
                <li>Click on the repository you are interested in to enter the details page</li>
                <li>The left side of the detail page is the author’s detailed information, click to link to the author’s Github homepage</li>
                <li>On the upper right side of the screen is the detailed information of repository</li>
                <li>The lower right part of the screen is the recommended repository information,Click to link to the repository details page</li>
                <li>You can also record the browsing history after logging in</li>
                <li>After logging in, you can add a like button and comment on the function</li>
            </ol>
<!--            <p><a class="btn btn-default" href="/myreponsitories?q=&language=&sort=&page=&order=" role="button">View details &raquo;</a></p>-->
        </div>
        <div class="col-md-4">
            <h2>How to use find Topics</h2>
            <ol>
                <li>Use the filter tool on the left side of the screen to query. </li>
                <li>Click the page change button on the right side of the screen to change the page </li>
                <li>Click on the topic you are interested in to enter the details page</li>
               <li>Click to jump to the topic page in github</li>
            </ol>
<!--            <p><a class="btn btn-default" href="/mytopics?q=&page=" role="button">View details &raquo;</a></p>-->
        </div>
    </div>


    <footer th:replace="footer.html"></footer>
