<header th:replace="header.html"></header>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-3">

            <a  th:href="${owner.getHtml_url()}" class="list-group-item">
                <div class="dropdown theme-dropdown clearfix">
                    <img  th:src="${owner.getAvatar_url()}" width="200" height="200" class="img-circle"  th:alt="${owner.getLogin()}">
                    <!--          <img src="https://avatars.githubusercontent.com/u/41664770?v=4" alt="..." class="img-circle">-->
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'name:'+owner.getLogin()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word"  th:text="${'company:'+owner.getCompany()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'blog:'+owner.getBlog()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'bio:'+owner.getBio()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'location:'+owner.getLocation()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'email:'+owner.getEmail()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'twitter_username:'+owner.getTwitter_username()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'followers:'+owner.getFollowers()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'following:'+owner.getFollowing()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'created_at:'+owner.getCreated_at()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word"  th:text="${'updated_at:'+owner.getUpdated_at()}"></h4>
                </div>
            </a>


        </div>
        <div class="col-md-6">
            <div class="well">
                <a th:href="${issuesDetail.getHtml_url()}" class="list-group-item">
                    <div class="dropdown theme-dropdown clearfix">
                        <h4 class="list-group-item-heading" style="wight:100%;height:100%;word-wrap: break-word" th:text="${issuesDetail.getTitle()}"></h4>
                        <h4 class="list-group-item-text"  style="wight:100%;height:100%;word-wrap: break-word" th:text="${issuesDetail.getLabels()}"></h4>
                        <h4 class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:utext="${issuesDetail.getBody()}"></h4>
                        <h4 class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="'Comments:'+${issuesDetail.getComments()}"></h4>
                        <h4 class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="'Create Time:'+${issuesDetail.getCreated_at()}"></h4>
                        <h4 class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="'Updated Time:'+ ${issuesDetail.getUpdated_at()}"></h4>
                    </div>
                </a>
<!--                <a th:if="${repositoriesDetail.getTags_url() != null}" th:href="${repositoriesDetail.getTags_url()}" class="btn btn-primary btn-lg active" role="button">Download</a>-->
            </div>



            <div class="well" th:if="${issues!= null}">
                <h3>Related Issues</h3>
                <div th:each="issue:${issues}">
                    <a th:href="${'/issuesdetail?url='+issue.getUrl()+'&page=1'+'&labels='+issue.getLabels()+'&q='+q}" target="_blank" class="list-group-item">
                        <h4 class="list-group-item-heading" style="wight:100%;height:100%;word-wrap: break-word" th:text="${issue.getTitle()}"></h4>
                        <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="${issue.getBody()}"></p>
                    </a>
                </div>
                <ul class="pagination">
                    <li th:if="${hasPre != null}">
                        <a th:href="${hasPre}">&laquo;</a>
                    </li>
                    <li th:each="urls:${urlsPages}">
                        <a th:href="${urls.getUrls()}" th:if="${page ne urls.getPages()}"><span
                                th:text="${urls.getPages()}"></span></a>
                        <a th:href="${urls.getUrls()}" th:if="${page eq urls.getPages()}"
                           th:style="'color:#FFF;font-weight:bold;background:#337AB7;'"><span
                                th:text="${urls.getPages()}"></span></a>
                    </li>
                    <li th:if="${hasNext != null}">
                        <a th:href="${hasNext}">&raquo;</a>
                    </li>
                </ul>

            </div>


        </div>


        <div class="col-md-3">

            <div class="well" th:if="${stackOverFlows!= null}">
                <h3>Related Question</h3>
                <div th:each="stackOverFlow:${stackOverFlows}">
                    <a th:href="${stackOverFlow.getLink()}" target="_blank" class="list-group-item">
<!--                        <h4 class="list-group-item-heading" style="wight:100%;height:100%;word-wrap: break-word" th:text="${stackOverFlow.getTitle()}"></h4>-->
                        <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="${stackOverFlow.getTitle()}"></p>
                    </a>
                </div>
<!--                <ul class="pagination">-->
<!--                    <li th:if="${hasPre != null}">-->
<!--                        <a th:href="${hasPre}">&laquo;</a>-->
<!--                    </li>-->
<!--                    <li th:each="urls:${urlsPages}">-->
<!--                        <a th:href="${urls.getUrls()}" th:if="${page ne urls.getPages()}"><span-->
<!--                                th:text="${urls.getPages()}"></span></a>-->
<!--                        <a th:href="${urls.getUrls()}" th:if="${page eq urls.getPages()}"-->
<!--                           th:style="'color:#FFF;font-weight:bold;background:#337AB7;'"><span-->
<!--                                th:text="${urls.getPages()}"></span></a>-->
<!--                    </li>-->
<!--                    <li th:if="${hasNext != null}">-->
<!--                        <a th:href="${hasNext}">&raquo;</a>-->
<!--                    </li>-->
<!--                </ul>-->

            </div>


        </div>

    </div>


<footer th:replace="footer.html"></footer>
