<header th:replace="header.html"></header>



<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-3">

            <a  th:href="${owner.getHtml_url()}" class="list-group-item">
                <div class="dropdown theme-dropdown clearfix">
                    <img  th:src="${owner.getAvatar_url()}" width="200" height="200" class="img-circle"  th:alt="${owner.getLogin()}">
                    <!--          <img src="https://avatars.githubusercontent.com/u/41664770?v=4" alt="..." class="img-circle">-->
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'name:'+owner.getLogin()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word"  th:text="${'company:'+owner.getCompany()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'blog:'+owner.getBlog()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'bio:'+owner.getBio()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'location:'+owner.getLocation()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'email:'+owner.getEmail()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'twitter_username:'+owner.getTwitter_username()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'followers:'+owner.getFollowers()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'following:'+owner.getFollowing()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'created_at:'+owner.getCreated_at()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word"  th:text="${'updated_at:'+owner.getUpdated_at()}"></h4>
                </div>
            </a>


        </div>
        <div class="col-md-9">


            <div class="well">
                <a th:href="${repositoriesDetail.getHtml_url()}" class="list-group-item">
                    <div class="dropdown theme-dropdown clearfix">
                        <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'full_name:'+repositoriesDetail.getFull_name()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:utext="${'description:'+repositoriesDetail.getDescription()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'language:'+repositoriesDetail.getLanguage()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'git url:'+repositoriesDetail.getGit_url()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'ssh url:'+repositoriesDetail.getSsh_url()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'clone url:'+repositoriesDetail.getClone_url()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'subscribers count:'+repositoriesDetail.getSubscribers_count()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'size:'+repositoriesDetail.getSize()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'watchers_count:'+repositoriesDetail.getWatchers_count()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'created_at:'+repositoriesDetail.getCreated_at()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'updated_at:'+repositoriesDetail.getUpdated_at()}"></h4>
                    </div>
                </a>
                <a th:if="${repositoriesDetail.getTags_url() != null}" th:href="${repositoriesDetail.getTags_url()}" class="btn btn-primary btn-lg active" role="button">Download</a>
            </div>


            <div class="well">
                <div th:each="reponsitory:${reponsitories}">
                    <a th:href="${'/repositoriesdetail?url='+reponsitory.getUrl()+'&page=1'}" target="_blank" class="list-group-item">
                        <h4 class="list-group-item-heading" style="wight:100%;height:100%;word-wrap: break-word" th:text="${reponsitory.getName()}"></h4>
                        <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:utext="${reponsitory.getDescription()}"></p>
                    </a>
                </div>
                <ul class="pagination">
                    <li th:if="${hasPre != null}">
                        <a th:href="${hasPre}">&laquo;</a>
                    </li>
                    <li th:each="urls:${urlsPages}">
                        <a th:href="${urls.getUrls()}" th:if="${page ne urls.getPages()}"><span
                                th:text="${urls.getPages()}"></span></a>
                        <a th:href="${urls.getUrls()}" th:if="${page eq urls.getPages()}"
                           th:style="'color:#FFF;font-weight:bold;background:#337AB7;'"><span
                                th:text="${urls.getPages()}"></span></a>
                    </li>
                    <li th:if="${hasNext != null}">
                        <a th:href="${hasNext}">&raquo;</a>
                    </li>
                </ul>

            </div>


        </div>

    </div>




<footer th:replace="footer.html"></footer>

