<header th:replace="header.html"></header>



<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-3">

            <a  th:href="${owner.getHtml_url()}" class="list-group-item">
                <div class="dropdown theme-dropdown clearfix">
                    <img  th:src="${owner.getAvatar_url()}" width="200" height="200" class="img-circle"  th:alt="${owner.getLogin()}">
                    <!--          <img src="https://avatars.githubusercontent.com/u/41664770?v=4" alt="..." class="img-circle">-->
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'name:'+owner.getLogin()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word"  th:text="${'company:'+owner.getCompany()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'blog:'+owner.getBlog()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'bio:'+owner.getBio()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'location:'+owner.getLocation()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'email:'+owner.getEmail()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'twitter_username:'+owner.getTwitter_username()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'followers:'+owner.getFollowers()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'following:'+owner.getFollowing()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word" th:text="${'created_at:'+owner.getCreated_at()}"></h4>
                    <h4 style="wight:100%;height:100%;word-wrap: break-word"  th:text="${'updated_at:'+owner.getUpdated_at()}"></h4>
                </div>
            </a>


        </div>
        <div class="col-md-9">


            <div class="well">
                <a th:href="${repositoriesDetail.getHtml_url()}" id="repositoryhtml_url" class="list-group-item">
                    <div class="dropdown theme-dropdown clearfix">
                        <h4 style="wight:100%;height:100%;word-wrap: break-word" id="repositorytitle" th:text="${repositoriesDetail.getFull_name()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:utext="${'description:'+repositoriesDetail.getDescription()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'language:'+repositoriesDetail.getLanguage()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'git url:'+repositoriesDetail.getGit_url()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'ssh url:'+repositoriesDetail.getSsh_url()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'clone url:'+repositoriesDetail.getClone_url()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'subscribers count:'+repositoriesDetail.getSubscribers_count()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'size:'+repositoriesDetail.getSize()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'watchers_count:'+repositoriesDetail.getWatchers_count()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'created_at:'+repositoriesDetail.getCreated_at()}"></h4>
                        <h4  style="wight:100%;height:100%;word-wrap: break-word" th:text="${'updated_at:'+repositoriesDetail.getUpdated_at()}"></h4>
                    </div>
                </a>
                <a th:if="${repositoriesDetail.getTags_url() != null}" th:href="${repositoriesDetail.getTags_url()}" class="btn btn-primary btn-lg" role="button">Download</a>
                <a th:if="${isContribute=='false'}" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" role="button">Add to Contribution</a>
                <a th:if="${isContribute=='true'}" class="btn btn-primary btn-lg disabled"  role="button">Already Contribute</a>

            </div>


            <div class="well">
                <div th:each="reponsitory:${reponsitories}">
                    <a th:href="${'/repositoriesdetail?url='+reponsitory.getUrl()+'&page=1'}" target="_blank" class="list-group-item">
                        <h4 class="list-group-item-heading" style="wight:100%;height:100%;word-wrap: break-word" th:text="${reponsitory.getName()}"></h4>
                        <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:utext="${reponsitory.getDescription()}"></p>
                    </a>
                </div>
                <ul class="pagination">
                    <li th:if="${hasPre != null}">
                        <a th:href="${hasPre}">&laquo;</a>
                    </li>
                    <li th:each="urls:${urlsPages}">
                        <a th:href="${urls.getUrls()}" th:if="${page ne urls.getPages()}"><span
                                th:text="${urls.getPages()}"></span></a>
                        <a th:href="${urls.getUrls()}" th:if="${page eq urls.getPages()}"
                           th:style="'color:#FFF;font-weight:bold;background:#337AB7;'"><span
                                th:text="${urls.getPages()}"></span></a>
                    </li>
                    <li th:if="${hasNext != null}">
                        <a th:href="${hasNext}">&raquo;</a>
                    </li>
                </ul>

            </div>


        </div>

    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </a>
                    <h4 class="modal-title" id="myModalLabel">
                        score items
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="form-inline row">
                            <label >keyword:</label>
                            <label class="radio"><input type="radio" name="keyword" checked="checked" value="1">1</label>
                            <label class="radio"><input type="radio" name="keyword" value="2">2</label>
                            <label class="radio"><input type="radio" name="keyword" value="3">3</label>
                            <label class="radio"><input type="radio" name="keyword" value="4">4</label>
                            <label class="radio"><input type="radio" name="keyword" value="5">5</label>
                        </div>

                        <div class="form-inline row">
                            <label >Programming Language:</label>
                            <label class="radio"><input type="radio" name="programming" checked="checked" value="1">1</label>
                            <label class="radio"><input type="radio" name="programming" value="2">2</label>
                            <label class="radio"><input type="radio" name="programming" value="3">3</label>
                            <label class="radio"><input type="radio" name="programming" value="4">4</label>
                            <label class="radio"><input type="radio" name="programming" value="5">5</label>
                        </div>


                        <div class="form-inline row">
                            <label >Sort:</label>
                            <label class="radio"><input type="radio" name="sort" checked="checked" value="1">1</label>
                            <label class="radio"><input type="radio" name="sort" value="2">2</label>
                            <label class="radio"><input type="radio" name="sort" value="3">3</label>
                            <label class="radio"><input type="radio" name="sort" value="4">4</label>
                            <label class="radio"><input type="radio" name="sort" value="5">5</label>
                        </div>

                        <div class="form-inline row">
                            <label >Order:</label>
                            <label class="radio"><input type="radio" name="order" checked="checked" value="1">1</label>
                            <label class="radio"><input type="radio" name="order" value="2">2</label>
                            <label class="radio"><input type="radio" name="order" value="3">3</label>
                            <label class="radio"><input type="radio" name="order" value="4">4</label>
                            <label class="radio"><input type="radio" name="order" value="5">5</label>
                        </div>

                        <div class="form-inline row">
                            <label >Github:</label>
                            <label class="radio"><input type="radio" name="github" checked="checked" value="1">1</label>
                            <label class="radio"><input type="radio" name="github" value="2">2</label>
                            <label class="radio"><input type="radio" name="github" value="3">3</label>
                            <label class="radio"><input type="radio" name="github" value="4">4</label>
                            <label class="radio"><input type="radio" name="github" value="5">5</label>
                        </div>


                        <div class="form-inline row">
                            <label >StackOverFlow:</label>
                            <label class="radio"><input type="radio" name="stackoverflow" checked="checked" value="1">1</label>
                            <label class="radio"><input type="radio" name="stackoverflow" value="2">2</label>
                            <label class="radio"><input type="radio" name="stackoverflow" value="3">3</label>
                            <label class="radio"><input type="radio" name="stackoverflow" value="4">4</label>
                            <label class="radio"><input type="radio" name="stackoverflow" value="5">5</label>
                        </div>

                        <div class="form-inline row">
                            <textarea  id="commits" placeholder="please input your commits"></textarea>
                        </div>


                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">cancel
                    </button>
                    <button type="button" id="addcontribute" class="btn btn-primary">
                        submit
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <script>
        $(document).ready(function(){
            $("#addcontribute").click(function(){
                var issuetitle = $("#repositorytitle").text();
                var html_url = $("#repositoryhtml_url").attr('href');
                var keyword = $("input[name='keyword']:checked").val();
                var programming = $("input[name='programming']:checked").val();
                var sort = $("input[name='sort']:checked").val();
                var order = $("input[name='order']:checked").val();
                var github = $("input[name='github']:checked").val();
                var stackoverflow = $("input[name='stackoverflow']:checked").val();
                var commits = $("#commits").val();
                $.ajax({
                    url:"/addcontributedetail",
                    data:{
                        issuetitle:issuetitle,
                        html_url:html_url,
                        keyword:keyword,
                        programming:programming,
                        sort:sort,
                        order:order,
                        github:github,
                        stackoverflow:stackoverflow,
                        commits:commits,
                        type:"repository"
                    },
                    success:function(data){
                        if(data == "success"){
                            alert("report success")
                            window.location.reload()
                        }
                        else{
                            alert("please login,and have a try")
                        }
                    },
                    fail:function(data){
                        alert("error")
                        window.location.href = "/404"
                    }
                })

            })
        })
    </script>



<footer th:replace="footer.html"></footer>

