<header th:replace="header.html"></header>


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-3">

            <form method="get" action="/myreponsitories">
                <div class="page-header">
                    <h3>keywords(not necessary)</h3>
                    <div class="dropdown theme-dropdown clearfix">
                        <input type="text" th:value="${q}"  name="q">
                    </div>
                </div>
                <div class="page-header">
                    <h3>Programming Language</h3>
                    <div class="dropdown theme-dropdown clearfix">
                        <select class="dropdown-menu" aria-labelledby="dropdownMenu1" name="language">
                            <option th:selected="${language=='default'}" value="default">default</option>
                            <option th:selected="${language=='Java'}" value="Java">Java</option>
                            <option th:selected="${language=='Python'}" value="Python">Python</option>
                            <option th:selected="${language=='Mysql'}" value="Mysql">Mysql</option>
                            <option th:selected="${language=='JavaScript'}" value="JavaScript">Mysql</option>
                            <option th:selected="${language=='Go'}" value="Go">Go</option>
                            <option th:selected="${language=='C'}" value="C">C</option>
                            <option th:selected="${language=='Linux'}" value="Linux">Linux</option>
                            <option th:selected="${language=='Html'}" value="Html">Html</option>
                        </select>
                    </div>
                </div>
                <div class="page-header">
                    <h3>Sort </h3>
                    <div class="dropdown theme-dropdown clearfix">
                        <select class="dropdown-menu" aria-labelledby="dropdownMenu1" name="sort">
                            <option th:selected="${sort=='default'}" value="default">default</option>
                            <option th:selected="${sort=='comments'}" value="comments" >comments</option>
                            <option th:selected="${sort=='stars'}" value="stars" >stars</option>
                            <option th:selected="${sort=='reactions'}" value="reactions">reactions</option>
                            <option th:selected="${sort=='interactions'}" value="interactions">interactions</option>
                            <option th:selected="${sort=='created'}" value="created">created</option>
                            <option th:selected="${sort=='updated'}" value="updated">updated</option>
                        </select>
                    </div>
                </div>
                <div class="page-header">
                    <h3>Order</h3>
                    <div class="dropdown theme-dropdown clearfix">
                        <select class="dropdown-menu" aria-labelledby="dropdownMenu1" name="order">
                            <option th:selected="${order=='desc'}">desc</option>
                            <option th:selected="${order=='asc'}">asc</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" th:hidden="${page}" name="page">
                <button type="submit" class="btn btn-primary btn-lg active">Search</button>
            </form>
            <!--            <div class="page-header">-->
            <!--                <h3>Repository:</h3>-->
            <!--                <div class="dropdown theme-dropdown clearfix">-->
            <!--                    <select class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
            <!--                        <option class="active"><a href="#">Action</a></option>-->
            <!--                        <option><a href="#">Another action</a></option>-->
            <!--                        <option><a href="#">Something else here</a></option>-->
            <!--                        <option><a href="#">Separated link</a></option>-->
            <!--                    </select>-->
            <!--                </div>-->
            <!--            </div>-->


        </div>
        <div class="col-md-9">

            <div class="well">

                <div class="list-group">
                    <div th:each="reponsitory:${reponsitories}">
                        <a th:href="${'/repositoriesdetail?url='+reponsitory.getUrl()+'&page=1'+'&q='+q}" target="_blank" class="list-group-item">
                            <h4 class="list-group-item-heading" style="wight:100%;height:100%;word-wrap: break-word" th:text="${reponsitory.getName()}"></h4>
                            <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:utext="${reponsitory.getDescription()}"></p>
                            <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="'Watches:'+${reponsitory.getWatchers()}"></p>
                            <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="'Create Time:'+${reponsitory.getCreated_at()}"></p>
                            <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="'Updated Time:'+ ${reponsitory.getUpdated_at()}"></p>
                        </a>
                    </div>
                </div>

                <ul class="pagination">


                    <li th:if="${hasPre != null}">
                        <a th:href="${hasPre}">&laquo;</a>
                    </li>


                    <li th:each="urls:${urlsPages}">

                        <a th:href="${urls.getUrls()}" th:if="${page ne urls.getPages()}"><span
                                th:text="${urls.getPages()}"></span></a>
                        <a th:href="${urls.getUrls()}" th:if="${page eq urls.getPages()}"
                           th:style="'color:#FFF;font-weight:bold;background:#337AB7;'"><span
                                th:text="${urls.getPages()}"></span></a>

                    </li>


                    <li th:if="${hasNext != null}">
                        <a th:href="${hasNext}">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>




<footer th:replace="footer.html"></footer>
