<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./favicon.ico">

    <title>Jumbotron Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/jumbotron.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


    <!-- Bootstrap theme -->
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" type="text/javascript"
            charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js" type="text/javascript"
            charset="utf8"></script>


</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">JESB</span>
            </button>
            <a class="navbar-brand" href="/">JESB</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${session.user != null}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false"><span th:text="${session.user.getLogin()}"></span><span
                            class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Message Center</a></li>
                        <li><a href="#">Information</a></li>
                        <li><a href="#">Layout</a></li>
                    </ul>
                </li>

                <li class="dropdown" th:if="${session.user == null}">
                    <a href="https://github.com/login/oauth/authorize?client_id=d32754e05783c716a028&redirect_uri=http://localhost:8080/callback&scope=user&state=1">Login</a>

                </li>

            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <button type="submit" class="btn btn-success">Search</button>
            </form>
        </div>

    </div>
</nav>


<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-3">

            <form method="get" action="/myreponsitories">
                <div class="page-header">
                    <h3>keywords(not necessary)</h3>
                    <div class="dropdown theme-dropdown clearfix">
                        <input type="text" th:value="${q}"  name="q">
                    </div>
                </div>
                <div class="page-header">
                    <h3>Programming Language</h3>
                    <div class="dropdown theme-dropdown clearfix">
                        <select class="dropdown-menu" aria-labelledby="dropdownMenu1" name="language">
                            <option th:selected="${language=='default'}" value="default">default</option>
                            <option th:selected="${language=='Java'}" value="Java">Java</option>
                            <option th:selected="${language=='Python'}" value="Python">Python</option>
                            <option th:selected="${language=='Mysql'}" value="Mysql">Mysql</option>
                            <option th:selected="${language=='JavaScript'}" value="JavaScript">Mysql</option>
                            <option th:selected="${language=='Go'}" value="Go">Go</option>
                            <option th:selected="${language=='C'}" value="C">C</option>
                            <option th:selected="${language=='Linux'}" value="Linux">Linux</option>
                            <option th:selected="${language=='Html'}" value="Html">Html</option>
                        </select>
                    </div>
                </div>
                <div class="page-header">
                    <h3>Sort </h3>
                    <div class="dropdown theme-dropdown clearfix">
                        <select class="dropdown-menu" aria-labelledby="dropdownMenu1" name="sort">
                            <option th:selected="${sort=='default'}" value="default">default</option>
                            <option th:selected="${sort=='comments'}" value="comments" >comments</option>
                            <option th:selected="${sort=='stars'}" value="stars" >stars</option>
                            <option th:selected="${sort=='reactions'}" value="reactions">reactions</option>
                            <option th:selected="${sort=='interactions'}" value="interactions">interactions</option>
                            <option th:selected="${sort=='created'}" value="created">created</option>
                            <option th:selected="${sort=='updated'}" value="updated">updated</option>
                        </select>
                    </div>
                </div>
                <div class="page-header">
                    <h3>Order</h3>
                    <div class="dropdown theme-dropdown clearfix">
                        <select class="dropdown-menu" aria-labelledby="dropdownMenu1" name="order">
                            <option th:selected="${order=='desc'}">desc</option>
                            <option th:selected="${order=='asc'}">asc</option>
                        </select>
                    </div>
                </div>
                <input type="hidden" th:hidden="${page}" name="page">
                <button type="submit" class="btn btn-primary btn-lg active">Search</button>
            </form>
            <!--            <div class="page-header">-->
            <!--                <h3>Repository:</h3>-->
            <!--                <div class="dropdown theme-dropdown clearfix">-->
            <!--                    <select class="dropdown-menu" aria-labelledby="dropdownMenu1">-->
            <!--                        <option class="active"><a href="#">Action</a></option>-->
            <!--                        <option><a href="#">Another action</a></option>-->
            <!--                        <option><a href="#">Something else here</a></option>-->
            <!--                        <option><a href="#">Separated link</a></option>-->
            <!--                    </select>-->
            <!--                </div>-->
            <!--            </div>-->


        </div>
        <div class="col-md-9">

            <div class="well">

                <div class="list-group">
                    <div th:each="reponsitory:${reponsitories}">
                        <a th:href="${'/repositoriesdetail?url='+reponsitory.getUrl()+'&page=1'}" target="_blank" class="list-group-item">
                            <h4 class="list-group-item-heading" style="wight:100%;height:100%;word-wrap: break-word" th:text="${reponsitory.getName()}"></h4>
                            <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="${reponsitory.getDescription()}"></p>
                            <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="'Watches:'+${reponsitory.getWatchers()}"></p>
                            <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="'Create Time:'+${reponsitory.getCreated_at()}"></p>
                            <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="'Updated Time:'+ ${reponsitory.getUpdated_at()}"></p>
                        </a>
                    </div>
                </div>

                <ul class="pagination">


                    <li th:if="${hasPre != null}">
                        <a th:href="${hasPre}">&laquo;</a>
                    </li>


                    <li th:each="urls:${urlsPages}">

                        <a th:href="${urls.getUrls()}" th:if="${page ne urls.getPages()}"><span
                                th:text="${urls.getPages()}"></span></a>
                        <a th:href="${urls.getUrls()}" th:if="${page eq urls.getPages()}"
                           th:style="'color:#FFF;font-weight:bold;background:#337AB7;'"><span
                                th:text="${urls.getPages()}"></span></a>

                    </li>


                    <li th:if="${hasNext != null}">
                        <a th:href="${hasNext}">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>



    <hr>

    <footer>
        <p>&copy; 2021 Company, Inc.</p>
    </footer>
</div> <!-- /container -->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="https://code.jquery.com/jquery-1.12.4.min.js"-->
<!--        integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>-->
<script src="js/bootstrap.min.js"></script>


</body>
</html>
