<header th:replace="header.html"></header>



<div class="container">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-3">

            <form method="get" action="/mytopics">
                <div class="page-header">
                    <h3>keywords(not necessary)</h3>
                    <div class="dropdown theme-dropdown clearfix">
                        <input type="text" th:value="${q}"  name="q">
                    </div>
                </div>
                <input type="hidden" th:hidden="${page}" name="page">
                <button type="submit" class="btn btn-primary btn-lg active">Search</button>
            </form>


        </div>
        <div class="col-md-9">

            <div class="well">

                <div class="list-group">
                    <div th:each="topic:${topics}">
                        <a th:href="'https://github.com/topics/'+ ${topic.getName()}" target="_blank" class="list-group-item">
                            <h4 class="list-group-item-heading" style="wight:100%;height:100%;word-wrap: break-word" th:text="${topic.getName()}"></h4>
                            <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="${topic.getShort_description()}"></p>
                            <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="${topic.getDescription()}"></p>
                            <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="'Author:'+${topic.getDisplay_name()}"></p>
                            <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="'Create Time:'+${topic.getCreated_at()}"></p>
                            <p class="list-group-item-text" style="wight:100%;height:100%;word-wrap: break-word" th:text="'Updated Time:'+ ${topic.getUpdated_at()}"></p>
                        </a>
                    </div>
                </div>

                <ul class="pagination">


                    <li th:if="${hasPre != null}">
                        <a th:href="${hasPre}">&laquo;</a>
                    </li>


                    <li th:each="urls:${urlsPages}">

                        <a th:href="${urls.getUrls()}" th:if="${page ne urls.getPages()}"><span
                                th:text="${urls.getPages()}"></span></a>
                        <a th:href="${urls.getUrls()}" th:if="${page eq urls.getPages()}"
                           th:style="'color:#FFF;font-weight:bold;background:#337AB7;'"><span
                                th:text="${urls.getPages()}"></span></a>

                    </li>


                    <li th:if="${hasNext != null}">
                        <a th:href="${hasNext}">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div>

    </div>


    <footer th:replace="footer.html"></footer>
